# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Next.js
.next/
out/
build/
next-env.d.ts

# Contentlayer (generated content types + bundled MDX)
.contentlayer/

# Production
dist/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env*.local
.env

# Vercel
.vercel/

# Typescript
*.tsbuildinfo
